body{
  background-color: rgb(55, 55, 55);
}
header{
  background-color: orange;
  text-align: center;
  padding: 5px;
  font-size: 25px;
  margin: 20px auto;
}
footer{
  background-color: red;
  text-align: center;
  color: white;
}
header, footer, .div1{
  border-radius: 25px;
}
.h1a{
  text-decoration: none;
  color: black;
}
.h1a:hover{
  color: blue;
}